<h2>Products added:</h2>

<div id="div"></div>

<h3>Add product:</h3>

<form id="form">
    Title:<input type="text" name="prodTitle" id="prodTitle">
    Description:<input type="text" name="prodDesc" id="prodDesc">
    Price:<input type="text" name="prodPrice" id="prodPrice">
    Thumbnails:<input type="text" name="prodThumb" id="prodThumb">
    Code:<input type="text" name="prodCode" id="prodCode">
    Stock:<input type="text" name="prodStock" id="prodStock">
    <input type="submit" value="Send" id="input">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>